---
http_interactions:
- request:
    method: get
    uri: http://sdw-wsrest.ecb.europa.eu/service/data/EXR/D.BRL.EUR.SP00.A?endPeriod=2017-05-23&startPeriod=2017-05-15
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 24 May 2017 23:10:49 GMT
      Content-Type:
      - application/vnd.sdmx.data+json; version=1.0.0-wd
    body:
      encoding: UTF-8
      string: '{"header":{"id":"83816740-ca3b-4f2a-837a-d7f7f4206001","test":false,"prepared":"2017-05-24T16:10:49.780+02:00","sender":{"id":"ECB"}},"dataSets":[{"action":"Replace","validFrom":"2017-05-24T16:10:49.780+02:00","series":{"0:0:0:0:0":{"attributes":[null,null,0,null,null,null,null,null,null,null,0,null,0,null,0,0,0,0],"observations":{"0":[3.4316,0,null,null,null],"1":[3.4446,0,null,null,null],"2":[3.4888,0,null,null,null],"3":[3.7227,0,null,null,null],"4":[3.7029,0,null,null,null],"5":[3.6718,0,null,null,null],"6":[3.6442,0,null,null,null]}}}}],"structure":{"links":[{"title":"Exchange
        Rates","rel":"dataflow","href":"http://sdw-wsrest.ecb.europa.eu:80/service/dataflow/ECB/EXR/1.0"}],"name":"Exchange
        Rates","dimensions":{"series":[{"id":"FREQ","name":"Frequency","values":[{"id":"D","name":"Daily"}]},{"id":"CURRENCY","name":"Currency","values":[{"id":"BRL","name":"Brazilian
        real"}]},{"id":"CURRENCY_DENOM","name":"Currency denominator","values":[{"id":"EUR","name":"Euro"}]},{"id":"EXR_TYPE","name":"Exchange
        rate type","values":[{"id":"SP00","name":"Spot"}]},{"id":"EXR_SUFFIX","name":"Series
        variation - EXR context","values":[{"id":"A","name":"Average"}]}],"observation":[{"id":"TIME_PERIOD","name":"Time
        period or range","role":"time","values":[{"id":"2017-05-16","name":"2017-05-16","start":"2017-05-16T00:00:00.000+02:00","end":"2017-05-16T23:59:59.999+02:00"},{"id":"2017-05-17","name":"2017-05-17","start":"2017-05-17T00:00:00.000+02:00","end":"2017-05-17T23:59:59.999+02:00"},{"id":"2017-05-18","name":"2017-05-18","start":"2017-05-18T00:00:00.000+02:00","end":"2017-05-18T23:59:59.999+02:00"},{"id":"2017-05-19","name":"2017-05-19","start":"2017-05-19T00:00:00.000+02:00","end":"2017-05-19T23:59:59.999+02:00"},{"id":"2017-05-22","name":"2017-05-22","start":"2017-05-22T00:00:00.000+02:00","end":"2017-05-22T23:59:59.999+02:[...]
